{{ export function capitalize (string) }}
  {{string.charAt(0).toUpperCase() + string.slice(1)}}
{{ /export }}


{{ export path = nav.breadcrumb(url).filter(item => item != null).map(item => item.slug) }}
{{ export filePath = nav.breadcrumb(url).filter(item => item.data != null).map(item => item.data.url) }}