img {
  border-radius: 6px;
}

:root {
  --pagefind-ui-scale: 0.6;
  --pagefind-ui-primary: var(--blue-50);
  --pagefind-ui-text: var(--text-00);
  --pagefind-ui-background: transparent;
  --pagefind-ui-border: transparent;
  --pagefind-ui-tag: var(--yellow-50);
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: var(--family-font);
}

table thead tr th {
  color: var(--text-20);
}

.callout {
  &.note {
    background-color: var(--green-50);
    color: var(--bg-00);
  }

  &.error {
    background-color: var(--red-50);
    color: var(--bg-00);
  }

  &.warning {
    background-color: var(--orange-50);
    color: var(--bg-00);
  }

  &.info {
    background-color: var(--blue-50);
    color: var(--bg-00);
  }

  &.draft {
    background-color: var(--grape-50);
    color: var(--bg-00);
  }

  a {
    color: var(--text-00);
  }
}