{{ comp index }}
  {{ include "../header.vto" { parentClass: "homepage" } }}
  <main id="homepage">
    {{ include "./hero.vto" }}
    <section id="content">
      {{ content }}
    </section>
  </main>
{{ /comp }}