@import "_styles/markdown/index.scss";
@import "_styles/theme.scss";
@import "_styles/vars.scss";
@import "_styles/icons.scss";
@import "_styles/mermaid.scss";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: "Open Sans", sans-serif;
  --title-font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--bg-00);
  color: var(--text-00);
}

body {
  display: grid;
  grid-template-rows: 46px 1fr auto;
  grid-template-columns: 1fr;
  // padding: 18px 42px;
  // margin: 0;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  // gap: 38px;
  overflow-y: auto;
  height: fit-content;
  min-height: 100%;

  .clickable {
    cursor: pointer;
  }

  .reference {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--bg-20);
    z-index: 1;
    opacity: 0.1;
    pointer-events: none;
    background-image: url('/_medias/reference.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }

  h1 {
    font-family: var(--title-font-family);
  }

  // > * {
  //   grid-column: 2;
  // }

  #header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 4fr 1fr max-content max-content;
    align-items: center;
    gap: 8px;
    padding: 0 30px;
    border-bottom: 1px solid var(--bg-10);
    background-color: color-mix(in srgb, var(--bg-00) 80%, transparent);
    backdrop-filter: blur(4px);
    z-index: 1;

    #theme {
      &:hover {
        color: var(--blue-50);
        html[theme="dark"] & {
          color: var(--yellow-50);
        }
      }
    }

    .logo {
      display: block;
      background: url('/_medias/logo_blue.png');
      background-size: contain;
      background-repeat: no-repeat;
      height: 32px;
      width: 200px;
    }

    .languages {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-left: auto;

      a {
        &:not(.active):not(:hover) {
          filter: grayscale(100%);
        }
      }
    }
  }

  #main {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr minmax(250px, 1fr);
    gap: inherit;
    // overflow-y: auto;

    #content {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      padding: 40px;

      ol > li::marker {
        color: var(--orange-50);
        font-weight: bold;
      }

      .contribute {
        margin-top: auto;
        text-align: right;
      }
    }

    nav.toc {
      position: sticky;
      top: 40px;
      left: 100%;
      width: 250px;
      padding-top: 40px;
      padding-right: 12px;
      height: fit-content;

      .title {
        display: inline-flex;
        padding: 8px 16px;
        background-color: var(--blue-50);
        color: var(--white-00);
        border-radius: 8px 8px 8px 0;
        // clip-path: polygon(0.5em 0, 100% 0, calc(100% - 0.5em) 100%, 0 100%);
      }

      ol {
        margin: 0;
        padding-left: 1.5em;
      }
    }

    #sidebar {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      gap: 16px;
      border-right: 1px solid var(--bg-10);
      padding: 40px;

      nav {
        display: flex;
        flex-direction: column;
        gap: 32px;

        ol {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 12px;
          margin: 0;

          >h5 {
            color: var(--text-20);
          }

          li {
            position: relative;

            &.active {
              >::before {
                content: "";
                position: absolute;
                top: calc(1em / 2);
                left: -16px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--blue-50);
              }
            }
          }

          details {
            background: none;
            padding: 0 ;
            margin: 0;

            &[open] {
              summary {
                border: none;
                padding: 0;
                margin: 0;
              }
            }
            ol {
              padding: 8px 0 0 16px;
            }
          }

        }
      }
    }
  }

  #footer {
    position: sticky;
    bottom: 0;
    grid-column: 1 / -1;
    font-family: monospace;
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    align-items: center;
    justify-items: start;
    // border-top: 1px solid var(--bg-30);
    width: 100%;
    padding: 4px 8px;
    gap: 64px;
    // background-color: var(--bg-10);
    // background-color: green;

    > * {
      z-index: 1;
      min-width: 0;
    }

    .breadcrumbs {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .logo {
      margin: 0;
      display: inline-flex;
      margin-left: auto;
      background-image: url('/_medias/fatfishlab_dark_logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      height: 22px;
      width: 128px;

      html[theme="dark"] & {
        background-image: url('/_medias/fatfishlab_light_logo.png');
      }
    }

    .waves {
      display: flex;
      position: absolute;
      width: 100%;
      height: 45px;
      bottom: 0px;
      left: 0;
      // opacity: 1;
      pointer-events: none;
      align-self: end;

      svg {
        width: 100%;
        height: 100%;

        path {
          width: 100%;
          height: 100%;
          fill: var(--bg-10);
        }
      }
    }
  }
}